* {
  margin: 0;
  padding: 0;
}

.gallery-page {
  .gallery {
    padding-top: 8%;
    padding-bottom: 2%;
    background-color: rgb(248, 248, 248);
    ul {
      list-style: none;
      display: flex;
      gap: 14px;
      justify-content: center;
      font-family: var(--primary-font-family);
      margin-top: 3%;
    }
    li {
      border-left: 3px solid;
      padding-left: 2px;
      color: #cead16;
      cursor: pointer;
    }

    li:hover {
      color: #e7c83c;
      border-left-color: #e7c83c;
    }

    .galleryinfo {
      .galleryheader {
        color: #cead16;
        font-weight: 400;
        font-size: 38px;
      }
      p {
        color: #000000;
        font-weight: 400;
        margin-top: 2%;
      }
      width: 100% !important;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .galleryimages {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 2%;

      .image_card {
        width: 30%;
        height: 30%;
        overflow: hidden;
        overflow-y: hidden;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          transition: transform 3.2s ease;
          &:hover {
            //   transform: scale(1.05);

            transform: scale(1.25) translateZ(0);
            overflow: hidden;
          }
        }

        .text {
          position: absolute;
          top: -70%;
          text-align: center;
          display: none;
          color: white;
          font-weight: 400;
          background-color: black;
          opacity: 80%;
          border: solid 2px white;
          width: 40%;
          pointer-events: none;
        }
      }

      .image_card:hover {
        overflow: hidden;
        .text {
          display: block;
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .gallery {
    margin-top: 2%;

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    li {
      font-size: 16px;
      padding-left: 4px;
      text-align: center;
    }

    .galleryinfo {
      .header {
        font-size: 28px;
      }
      p {
        font-size: 16px;
      }
    }

    .galleryimages {
      gap: 12px;
      margin-left: 2%;
      margin-right: 2%;
      flex-direction: column;

      .image_card {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery {
    margin-top: 2%;

    ul {
      flex-direction: row;
      gap: 10px;
    }

    li {
      font-size: 18px;
      padding-left: 6px;
    }

    .galleryinfo {
      .header {
        font-size: 32px;
      }
      p {
        font-size: 18px;
      }
    }

    .galleryimages {
      gap: 15px;

      .image_card {
        width: 48%;
      }
    }
  }
}
