.footer {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/mount-kenya.jpg");
  //   background-position: center;
  font-family: "Futura Std";
  background-size: cover;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    // width: 90vw;
    margin: 0 auto;
    margin-top: 3%;
    .cards {
      display: flex;
      gap: 5%;
      .card {
        background-color: black;
        opacity: 80%;
        color: white;
        width: 30%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10%;
        h4 {
          color: #d5b833;
        }
      }
      .one {
        gap: 7%;
      }
      .two {
        gap: 7%;
      }
      .three {
        gap: 12%;
        // padding-bottom: 20%;
      }
    }
    .copyright {
      margin-top: 10%;
      padding-top: 1%;
      padding-bottom: 1%;
      border-top: 2px solid white;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      //   border: 2px solid red;
      font-family: "Futura Std";
      font-weight: bolder;
      font-size: 15px;
      letter-spacing: 2px;
      //   color: white;
      span {
        img {
          height: 20px;
          width: 20px;
          position: relative;
          bottom: -5px;
          left: -3px;
        }
      }
    }
  }
}
