.navbar {
  font-family: "Futura Std", sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  width: 100%;
  //height: 15vh;
  overflow-x: hidden;
  //   border: 2px solid salmon;
  //   padding-left: 13px;
  .top-banner {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-color: #5e292f;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .call {
      margin-left: 20px;
      display: flex;
      align-items: center;
      width: 8%;
      justify-content: space-between;
      color: white;
      img {
        height: 30px;
      }
    }
    .book {
      font-family: "Futura Std", sans-serif;
      margin-right: 40px;
      width: 9%;
      height: 70%;
      display: flex;
      border-radius: 5px;
      align-items: center;
      padding: 5px;
      gap: 7%;
      //   justify-content: space-between;
      font-size: smaller;
      color: #5e292f;
    }
    .socials {
      margin-right: 40px;
      width: 5%;
      border-radius: 5px;
      display: flex;
      align-items: center;
      padding: 5px;
      justify-content: space-between;
      font-size: smaller;
      color: #5e292f;
      background-color: white;
    }
  }
  .nav {
    display: flex;
    opacity: 90%;
    margin: 0 auto;
    width: 100%;
    background-color: #ffff;
    // border: 2px solid red;
    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 2%;
      .image {
        width: 20%;
        height: 100%;
        img {
          height: 50px;
          width: 50px;
          margin-right: 90px;
          margin-left: 5px;
        }
      }
      .name {
        font-size: 10px;
        // border: 2px solid black;
        text-align: center;
        color: #cead16;
      }
    }
    .menu-items {
      display: flex;
      width: 65%;
      justify-content: space-between;
      align-items: center;
      span {
        // border: 2px solid black;
        font-size: 20px;
        color: #6f6f74;
        text-decoration: underline;

        &:hover {
          color: #6c2e3b;
          cursor: pointer;
        }
      }
    }
  }
}
