.meetingsimage {
  margin: 0;
  padding: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;

    transform: scale(1);

    animation: zoomIn 10s ease forwards;

    @keyframes zoomIn {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }
  }
}

.banner {
  background-color: rgba(43, 42, 42, 0.65);
  width: 75vw;
  height: 22vh;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-inline: 50px;

  .meetingheaderinfo {
    margin-top: 2%;
    font-family: "Futura Std";
    color: #ffffff;
    margin-bottom: 4%;
  }

  .name {
    font-family: "Futura Std";
    color: #ffffff;
    font-size: 34px;
    line-height: 41px;
    font-weight: 400;
    padding-top: 4%;
  }
}
.event-superior-content {
  width: 90%;
  display: flex;
  margin: 4%;
  padding: 3rem 2.5rem;
  background-color: var(--gray-color);
  gap: 2rem;

  .event-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    margin: 4% 0;
    color: var(--light-gray);
    h2 {
      color: var(--primary-color);
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 2%;
    }

    .event-desc {
      font-family: Gotham Book;
      width: 90%;
      text-align: center;

      line-height: 1.8;
      font-family: var(--primary-font-family);
      font-size: 1.2rem;
    }
  }
}

.event-superior-content.reversed {
  flex-direction: row-reverse;
}

.event-deluxe-content {
  width: 90%;
  display: flex;
  margin: 3rem auto;
  gap: 3rem;
  // .event-photo {
  //   width: 250rem;
  //   }

  .event-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .event-desc {
      width: 90%;
      text-align: center;
      line-height: 1.8;
      font-family: var(--primary-font-family);
      font-size: 1.2rem;
      color: var(--light-gray);
    }
  }
}
.desc-btn {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  button {
    background-color: white;
    color: #ccae10;
    padding: 10px 20px;
    border: 1px solid #ccae10;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 2%;
  }
}

/* Style hover effect for the button */
.desc-btn button:hover {
  background-color: #5e292f;
  color: white;
  border: none;
}

@media (max-width: 767px) {
  .meetingsimage {
    height: 55vh;
  }
  .banner {
    width: 95vw;
    height: auto;
    padding-inline: 20px;
    top: 47%;
    .name {
      font-size: 20px;
    }
  }

  .banner .meetingheaderinfo {
    font-size: 16px;
    padding-top: 0.25%;
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  .event-superior-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -4% !important;
    width: 100vw;

    .event-photo {
      max-width: 90% !important;
    }
  }

  .event-superior-content.reversed {
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: flex-start;
  }

  .event-superior-content,
  .event-deluxe-content {
    flex-direction: column;
  }

  .event-superior-content .event-items h2,
  .event-deluxe-content .event-items h2 {
    font-size: 24px;
  }

  .event-superior-content .event-items .event-desc,
  .event-deluxe-content .event-items .event-desc {
    font-size: 1rem;
  }

  .desc-btn {
    margin-top: 15px;
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}
