.special-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  background-color: #cfcfd3;
  font-family: "Futura Std";
  h3 {
    font-size: 30px;
    color: #ccae10;
    margin-top: 1%;
  }
  .offers {
    // border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    width: 95vw;
    margin: 0 auto;
    .offer {
      width: 27%;
      height: 20rem;
      object-fit: cover;
      margin-top: 1%;
      //   display: flex;
      //   border: 2px solid black;
      img {
        width: 100%;
        height: 100%;
        // border-radius: 8px;
        box-shadow: 2px 2px 2px black;
        // position: fixed;
      }
      .text {
        position: relative;
        top: -70%;
        text-align: center;

        color: white;
        font-weight: bolder;
        background-color: black;
        opacity: 50%;
        h5 {
          font-size: 20px;
        }
      }
    }
  }
}
