.scrollable-table-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 80vh;
}
th {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.tableheaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin-left: 2%;
  }
  .admin-other-service-btn {
    padding: 0.8% 2%;
    border-radius: 7px;
    color: white;
    background-color: #000000;
    margin: 1% 2% 0%;
    border: none;
    cursor: pointer;
  }
}


/* Modal styling */
.modal {
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 19% 40%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Form input styling for the modal */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  margin-top: 10px;
}

.modal-content form input[type="text"],
.modal-content form button[type="submit"] {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Added to ensure padding does not increase the size of the inputs */
}

.modal-content form button[type="submit"] {
  background-color: #186618;
  color: white;
  cursor: pointer;
}

.modal-content form button[type="submit"]:hover {
  background-color: #248f24;
}

