<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bantu Africa Resort</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F5F5F5;
            color: #3D3327;
        }
        table {
            width: 100%;
            max-width: 600px;
            margin: auto;
            background-color: #FFFFFF;
            border-collapse: collapse;
        }
        th {
            background-color: #5E292F;
            color: #FFFFFF;
            padding: 20px;
            text-align: center;
            font-size: 24px;
        }
        td {
            padding: 20px;
            color: #3D3327;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #CCAE10;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }
        .image {
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Bantu Africa Resort, <%= FirstName %> <%= LastName %></th>
        </tr>
        <tr>
            <td>
                <p>Hi <%= FirstName %> <%= LastName %>,</p>
                <div class="image">
                    <img src="https://cdn.pixabay.com/photo/2016/01/29/09/57/hands-1167618_640.jpg" alt="Welcome Image" style="max-width:100%; height:auto;">
                </div>
                <p>Welcome aboard! Your admin access to website management has been granted. Please remember to keep your password secure. Sign in to explore and manage our services.<br>Thank you.</p>
            </td>
        </tr>
    </table>
</body>
</html>
