.activities{
    // background-color: blue;
    height: 100%;
    position: relative;

    .activity-title {
      position: absolute; 
      top: 0;
      left: 35%;
      transform: translateX(-50%);
      height: 20vh;
      background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(54, 53, 53, 0.5));
      width: 70vw;
      margin-left: 40px;
      margin-top: -150px;
      z-index: 1; 
      display: flex;
      align-items: center;

      h1{
        font-size: 50px;      
        color: white;
        margin-left: 30px;
      }
    }

    .activity-section{
        background-color: white;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;

        .activity-image{
            overflow: hidden;
            height: 45vh;
            width: 35vw;

        }

        .activity-description{
            background-color: white;
            overflow: hidden;
            height: 45vh;
            width: 35vw;
            // padding: 140px;

            .description-name {
                font-size: 1.5em; 
                font-weight: bold;
                margin-bottom: 0.5em;
                margin-top: 25px;

                h3{
                  text-align: center;
                  margin-top: 10px;
                  color: #CCAE10;
                  font-weight: 40px;
                  font-size: 25px;
                }
              }
            
              .description-text {
                line-height: 1.4;
                margin-bottom: 1em;
                text-align: center;
                margin-top: 20px;
              }

              .desc-btn{
                display: flex;
                justify-content: center;
                margin-top: 30px;
                button {
                  // background-color: white; 
                  color: #CCAE10;
                  padding: 10px 20px;
                  // border: 1px solid #CCAE10;
                  border-radius: 5px; 
                  cursor: pointer;
                  font-size: 16px;
                  
                }

              }
            
              /* Style hover effect for the button */
              .desc-btn button:hover {
                background-color: #5E292F; 
                color: white;
                border: none;
              }
        }

    }

}