.admin-room-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    .admin-room-btn-group{
        display: flex;
        gap: 5em;
        
            Button{
                padding: 0.5em;
            background-color: var(--secondary-color);
            color: white;
            border-radius: 4px;
            
        }
    }
}