*{
    padding:0;
    margin:0;
    font-family: 'Futura Std';
}
.admin-header{
    
    // height:5vh;
    // width:90vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(61, 51, 39, 0.83);
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(61, 51, 39, 0.06);
    z-index: 999;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    
    .admin-header-logo{
        img{
            width:60px;
            padding-left:30px;
            
        }

    }

    .admin-container{

        font-family: 'Futura Std';  
        // margin: 0;
        display: flex;
        justify-content: flex;
        align-items: center;
        height: 27px;
        // margin-right:-10vw;
        margin-top:-4.5vh;

        .Adminsearch-container{

            position: relative;

            .Adminsearch-bar{

                height:3vh;
                width: 400px;
                padding: 17px 12px;
                border: none;
                border-radius: 20px;
                background-color: rgba(255, 255, 255, 0.9);
                outline: none;
                position:fixed;
               
                


                &::placeholder{
                    color: #555;
                }
            }
        }

    }

    .admin-header-list{
        

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .admin-header-list-nav{

            font-family: 'Futura Std';

            ul{
                display: flex;  

                li{
                    list-style-type: none;
                    padding: 0 20px;
                    position: relative;
                    cursor: pointer;  
                }

                a{
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    transition: 0.3s ease;  
                }

                a:hover{
                    color: #3D3327;
                    content: "";

                    &::after{
                        content: "";
                        width: 30%;
                        height: 3px;
                        background: #3D3327;
                        position: absolute;
                        bottom: -4px;
                        left: 20px;
                     }
                }

                a:active{
                    color: #3D3327;

                    &::after{
                        content: "";
                        width: 30%;
                        height: 2px;
                        background: #3D3327;
                        position: absolute;
                        bottom: -4px;
                        left: 20px;
                    }
                }
            }

        }
    }

    .header-list-icon{
        color: white;
        
        font-size: 25px;
        transition: 0.3s ease;

        a{
            padding-left: 20px;

            i{
                .fas fa-user{
                    width:50px;
                }
            }

            
        }

        a:hover{
            color:#3D3327;
        }
    }
}