*{
    padding:0;
    margin:0;

}
.mainSideBar{
    height:100vh;
    width:100%;
        
    .sidebar{
        overflow: hidden;
        top: 0;
        left: 0;
        background-color: #3D3327;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
        transition: width 0.3s, transform 0.3s;
        // z-index: 1000;


        .sidebar-content{

            a{
                font-family: 'Futura Std';
                font-weight:400;
                padding: 20px 30px;
                text-decoration: none;
                font-size: 20px;
                line-height:23px;
                display: block;
                transition: background-color 0.3s, transform 0.3s;
                color:white; 

                i{
                    margin-right: 10px;
                    transition: transform 0.3s;  
                }
            }

            a:hover{
                background-color: rgba(255, 255, 255, 0.2);
                transform: translateX(10px);

                i{
                    transform: scale(1.1); 
                }
            }
            
          
            
        }

        .sidebar-footer{
           a{
            padding: 20px 30px;
            text-decoration: none;
            font-size: 18px;
            display: block;
            transition: background-color 0.3s, transform 0.3s;
            color:white;
           } 

           a:hover{
            background-color: rgba(255, 255, 255, 0.2);
            transform: translateX(10px);

                i{
                    transform: scale(1.1);
                }  
            
           }

           .logout-btn{
            display: block;
            text-align: center;
            margin: 50px 20px;
            padding: 10px 15px;
            background-color:white;
            color: #cd7f32;
            font-size: 18px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
           }

           .logout-btn:hover {
            background-color: #1a2026;
            transform: translateY(-3px);
          }
        }
    }
}
